@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: 'Poppins', sans-serif;
}

.container-default {
  @apply container mx-auto max-w-[1198px];
}

.menu ul li:not(:last-child) {
  @apply mr-[49px];
}

.link {
  @apply text-lightgray transition-all duration-200 hover:text-white;
}

.link.active {
  @apply border-secondary hover:text-secondary border-b-[3px] pb-[2px] font-medium text-white;
}

.button {
  @apply border-secondary bg-secondary inline-flex h-[60px] items-center justify-center rounded-[15px] border-2 px-[67.5px] text-lg font-semibold text-black transition-all duration-200 hover:opacity-90;
}

.button.button-outline {
  @apply hover:bg-secondary bg-transparent text-white;
}

.button-small {
  @apply border-secondary bg-secondary inline-flex h-[35px] items-center justify-center rounded-[5px] border-2 px-[30px] font-semibold text-black transition-all duration-200 hover:opacity-90;
}

.item-newest {
  @apply h-[131px] w-[124px];
}

.product {
  @apply mb-[32px] overflow-hidden rounded-[25px] bg-white pb-[30px];
  box-shadow: 17px 7px 36px #00000026;
}

.product .image {
  @apply relative;
}

.product .wishlist {
  @apply absolute top-[25px] left-[25px];
}

.product .content {
  @apply px-[20px] pt-[37px];
}

.product .content > div {
  @apply flex items-center justify-between;
}

.product .content h3 {
  @apply text-[25px] font-semibold leading-[33px] tracking-[0.5px];
}

.product .content .price {
  @apply text-[25px] font-bold leading-[33px] tracking-[0.5px];
}

.product .content p {
  @apply mb-[24px] leading-[30px] tracking-[0.32px] opacity-[0.61];
}

.product .rating {
  @apply flex items-center text-[25px] font-semibold leading-[33px] tracking-[0.5px];
}

.product .rating img {
  @apply mr-[14px];
}

.product .rating > span {
  @apply relative top-[4px];
}

.newsletter > div {
  background-image: url(./assets/newsletter.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @apply relative overflow-hidden rounded-[35px] pt-[61px] pb-[83px];
}

.newsletter > div:before {
  content: '';
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.61;
  position: absolute;
  z-index: 0;
}

.newsletter > div > * {
  position: relative;
  z-index: 1;
}

.everything .item {
  @apply flex flex-col items-center justify-center rounded-[25px] bg-[#254C50] px-[55px] py-[47px] text-center text-white;
}

.everything .item.alternative {
  @apply bg-secondary text-black;
}

.everything .item img {
  @apply mb-[39px];
}

.everything .item h3 {
  @apply mb-[21px] text-[1.5625rem] font-bold leading-[2.0625rem];
}

.everything .item p {
  @apply text-lightgray leading-[2.0625rem];
}

.everything .item.item.alternative p {
  @apply text-black;
}

footer p,
footer a {
  @apply mb-[19px] block text-[0.9375rem] font-light leading-[1.625rem] text-white opacity-50;
}
